.footer__link {
  text-decoration: none;
  color: #ffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
}
.footer__link:hover {
  cursor: pointer;
  opacity: 0.8;
}
@media screen and (max-width: 767px) {
    .footer__link {
        font-size: calc(24px + (24 - 14) * ((100vw - 320px)/(768 - 320)));
        line-height: 24px;
        width: calc(186px + (720 - 186) * ((100vw - 320px)/(768 - 320)));
      }
}
